{% extends 'core/base.html' %}
{% load tags %}



{% block content %}
<!--Main layout-->
<main>
  <div class="container wow fadeIn">

    <!-- Heading -->
    <h2 class="my-5 h2 text-center">Checkout form</h2>

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-md-8 mb-4">

        <!--Card-->
        <div class="card">

          <!--Card content-->
          <form method="POST" action='{% url 'core:checkout' %}' class="card-body">
            {% csrf_token %}
            <!--Grid row-->
            <div class="row">

              <!--Grid column-->
              <div class="col-md-6 mb-2">

                <!--firstName-->
                <div class="md-form ">
                  {%if order.billing_address %}
                    {{form.first_name|add_value:order.billing_address.first_name}}
                  {% else %}
                    {{form.first_name}}  
                  {% endif %}
                  <label for="firstName" class="">Frist name</label>
                </div>

              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-6 mb-2">

                <!--lastName-->
                <div class="md-form">
                  {%if order.billing_address %}
                    {{form.last_name|add_value:order.billing_address.last_name}}
                  {% else %}
                    {{form.last_name}}  
                  {% endif %}
                  <label for="lastName" class="">Last name</label>
                </div>

              </div>
              <!--Grid column-->

            </div>
            <!--Grid row-->

            <!--Phone number -->  
            <div class="md-form mb-5">
              {%if order.billing_address %}
                  {{form.phone|add_value:order.billing_address.phone}}
              {% else %}
                  {{form.phone}}  
              {% endif %}
              <label for="phone" class="">Phone number</label>
            </div>

             <!--Phone number-2 -->  
            <div class="md-form mb-5">
              {%if order.billing_address.secPhone %}
                  {{form.secPhone|add_value:order.billing_address.secPhone}}
              {% else %}
                  {{form.secPhone}}  
              {% endif %}
              <label for="phone-2" class="">Phone number 2 (optional)</label>
            </div>

            <!--city-->  
            <div class="md-form mb-5">
              {%if order.billing_address %}
                  {{form.city|add_value:order.billing_address.city}}
              {% else %}
                  {{form.city}}  
              {% endif %}
              <label for="city" class="">City</label>
            </div>


        

            <!--address-->
            <div class="md-form mb-5">
              {%if order.billing_address %}
                  {{form.address|add_value:order.billing_address.address}}
              {% else %}
                  {{form.address}}  
              {% endif %}
              <label for="address" class="">Address</label>
            </div>

            <!--address-2-->
            <div class="md-form mb-5">
              {%if order.billing_address.secAdress %}
                  {{form.secAddress|add_value:order.billing_address.secAdress}}
              {% else %}
                  {{form.secAddress}}  
              {% endif %}
              <label for="address-2" class="">Address 2 (optional)</label>
            </div>

            


            <hr>

            <div class="d-block my-3">
            {% for value,text in form.fields.payment_option.choices %}

              <div class="custom-control custom-radio">
                <input id="{{text}}" name="payment_option"value = "{{value}}" type="radio" class="custom-control-input" required>
                <label class="custom-control-label" for="{{text}}">{{text}}</label>
              </div>

            {% endfor %}   
            
            </div>
            <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
          </form>

        </div>
        <!--/.Card-->

      </div>
      <!--Grid column-->

      {% include "core/order_snippet.html" %}  

        
      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
</main>
<!--Main layout-->


{% endblock content %}
