{% extends 'core/base.html' %}


{% block content %}
<!--Main layout-->
<main>
  <div class="container wow fadeIn">

    <!-- Heading -->
    <h2 class="my-5 h2 text-center">Checkout form</h2>

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-md-8 mb-4">

        <!--Card-->
        <div class="card">

          <!--Card content-->
          <form method="POST" action='{% url 'core:checkout' %}' class="card-body">
            {% csrf_token %}
            <!--Grid row-->
            <div class="row">

              <!--Grid column-->
              <div class="col-md-6 mb-2">

                <!--firstName-->
                <div class="md-form ">
                  {{form.first_name}}
                  <label for="firstName" class="">First name</label>
                </div>

              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-6 mb-2">

                <!--lastName-->
                <div class="md-form">
                  {{form.last_name}}
                  <label for="lastName" class="">Last name</label>
                </div>

              </div>
              <!--Grid column-->

            </div>
            <!--Grid row-->

            <!--Phone number -->  
            <div class="md-form mb-5">
              {{form.phone}}
              <label for="phone" class="">Phone number</label>
            </div>

             <!--Phone number-2 -->  
            <div class="md-form mb-5">
              {{form.secPhone}}
              <label for="phone-2" class="">Phone number 2 (optional)</label>
            </div>

            <div class="md-form mb-5">
              {{form.city}}
              <label for="city" class="">City</label>
            </div>


        

            <!--address-->
            <div class="md-form mb-5">
              {{form.address}}
              <label for="address" class="">Address</label>
            </div>

            <!--address-2-->
            <div class="md-form mb-5">
              {{form.secAddress}}
              <label for="address-2" class="">Address 2 (optional)</label>
            </div>

            <hr>

            <div class="custom-control custom-checkbox">
              {{form.same_shipping_address}}
              <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
            </div>
            <div class="custom-control custom-checkbox">
              {{form.same_info}}
              <label class="custom-control-label" for="save-info">Save this information for next time</label>
            </div>

            <hr>

            <div class="d-block my-3">
            {% for value,text in form.fields.payment_option.choices %}

              <div class="custom-control custom-radio">
                <input id="{{text}}" name="payment_option"value = "{{value}}" type="radio" class="custom-control-input" required>
                <label class="custom-control-label" for="{{text}}">{{text}}</label>
              </div>

            {% endfor %}   
            
            </div>
            <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
          </form>

        </div>
        <!--/.Card-->

      </div>
      <!--Grid column-->

      {% include "core/order_snippet.html" %}  

        
      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
</main>
<!--Main layout-->


{% endblock content %}
